@use "../../../tokens";
@use "./mixins";

.modal {
  @include mixins.modal;

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    margin-bottom: 0;
    margin-right: 1em;

    &:focus {
      outline: none;
    }
  }

  &__close-button {
    margin-bottom: 0;

    svg {
      pointer-events: none;
    }
  }

  &__content {
    overflow-y: auto;

    &.padding-bottom {
      padding-bottom: tokens.space("l");
    }
  }

  &__footer {
    &.secondary {
      background: tokens.color("secondary");
    }
  }

  // todo: find out a better way to disable transition inside modal
  * {
    transition: 0s all;
  }
}

// IE11 does not have fixed footer and header, due problem with scrolling inside content
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal {
    overflow-y: auto;

    &__content {
      overflow-y: hidden;
    }
  }
}

.dialog.is-active {
  .modal {
    visibility: visible;
    display: flex;

    &__overlay {
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }
}
