@use "../../../tokens";

$card: (
  default: (
    background-color: tokens.color("white"),
    transition: all 120ms linear,
    border: 1px solid tokens.color("grey", 100),
  ),
  clickable: (
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05),
  ),
);

$card-section: (
  default: (
    default: (
      padding: tokens.space(),
    ),
  ),
  image: (
    default: (
      padding: 0,
    ),
  ),
);

$card-section-bg-colors: (
  white: (
    background-color: tokens.color("white"),
  ),
  secondary: (
    background-color: tokens.color("secondary"),
  ),
  primary: (
    background-color: tokens.color("primary"),
  ),
);
