@use "sass:map";
@use "./config";
@use "../../../tokens";
@use "../../../styles/utils";

@mixin card($card: config.$card) {
  // $border-radius: _map-deep-get($card, "default", "border-radius");

  @each $variant, $props in $card {
    &#{utils.variant-name($variant)} {
      @if $variant == "clickable" {
        &:hover {
          @include utils.css-map($props);
        }

        .card__section {
          .card__action .btn,
          .card__action .link {
            position: unset;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
            }
          }

          /*All elements inside clickable card except of link, have to have position:relative to make them selectable by mouse.*/
          > :not(.card__action) {
            position: relative;
            z-index: 1;
          }

          /*When there is CardAction inside CardTitle position has to be set to unset in favor to make whole card clickable. 
          Without this, CardTitle's position:relative will stop CardACtion's position: absolute.*/
          .card__title {
            &--has-link {
              position: unset;
            }
          }
        }
      } @else {
        @include utils.css-map($props);
      }
    }
  }

  position: relative;
  display: flex;
  flex-flow: column;
  margin-bottom: tokens.space();
  width: 100%;

  &--disable-overflow {
    overflow: initial;
  }

  > * + * {
    border-top: map.get($card, "border");
  }

  // > * {
  //   &:first-child {
  //     border-top-left-radius: $border-radius;
  //     border-top-right-radius: $border-radius;
  //   }

  //   &:last-child {
  //     border-bottom-left-radius: $border-radius;
  //     border-bottom-right-radius: $border-radius;
  //   }
  // }

  .grid__col {
    flex-direction: column;
  }
}

@mixin card-section($card-section: config.$card-section, $grow: 0, $shrink: 0) {
  flex: $grow $shrink auto;

  > *:last-child {
    margin-bottom: 0;
  }

  @each $variant, $props in $card-section {
    &#{utils.variant-name($variant)} {
      @each $breakpoint, $settings in $props {
        @include tokens.breakpoint($breakpoint) {
          @include utils.css-map($settings);
        }
      }
    }
  }

  @each $variant, $props in config.$card-section-bg-colors {
    &#{utils.variant-name($variant)} {
      @include utils.css-map($props);
    }
  }
}

@mixin card-classes {
  .card {
    @include card;

    &__section {
      @include card-section();

      &--fill {
        flex-grow: 1;
      }

      &--bg-image {
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
      }

      &--show-bg-responsive {
        // stylelint-disable max-nesting-depth
        @media screen and (min-width: map.get(tokens.$breakpoints, "m")) {
          background-image: none !important;
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }
}
