// ---------------------------------------------
// BAR - CONFIGURATION
// ---------------------------------------------
@use "../../../tokens";

$spacing: (
  default: tokens.space(),
  small: tokens.space("s"),
);

$spacing-vertical: (
  default: tokens.space("s"),
);

$break-height: 0;
