// ---------------------------------------------
// BAR - CONFIGURATION
// ---------------------------------------------
@use '../../../tokens';


$bar-spacing: (
  default: tokens.space(),
  small: tokens.space("s"),
);

$bar-spacing-vertical: (
  default: tokens.space("s"),
);

$bar-break-height: 0;
