.filter-range {
  .form-label {
    margin-bottom: 10px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;

    & > * {
      margin-bottom: 0;
    }

    .form-field {
      max-width: 120px;
    }
    .form-field input {
      text-align: center;
    }
  }
}
