@use "../../../tokens";
@use "../../../styles/utils";

:root {
  --slider-color-accent: #{tokens.color("primary")};
  --slider-color-line: #{tokens.color("grey")};
  --slider-size-handle: #{utils.rem(20px)};
  --slider-size-segment: #{utils.rem(2px)};
}

.slider {
  height: var(--slider-size-segment); // make margin bottom visible

  margin-bottom: tokens.space();
  margin-left: tokens.space("s");
  margin-right: tokens.space("s");

  &__handle {
    width: var(--slider-size-handle);
    height: var(--slider-size-handle);
    border-radius: 100%;
    background-color: var(--slider-color-accent);

    // reset button styles
    border: 0;
    padding: 0;
  }

  &__segment {
    height: var(--slider-size-segment);
    background-color: var(--slider-color-line);

    &--1 {
      background-color: var(--slider-color-accent);
    }
  }
}
