@use '../../../styles/tokens/color';
@use '../../../styles/tokens/space';

.range-input {
  margin-bottom: space.get("small");
  margin-left: space.get("xsmall");
  margin-right: space.get("xsmall");

  &__handle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: color.get("primary");
  }

  &__segment {
    height: 2px;
    background-color: color.get("gray");

    &--1 {
      background-color: color.get("primary");
    }
  }
}
