@use "../../../tokens";

.range-input {
  margin-bottom: tokens.space();
  margin-left: tokens.space("s");
  margin-right: tokens.space("s");

  &__handle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: tokens.color("primary");
  }

  &__segment {
    height: 2px;
    background-color: tokens.color("grey");

    &--1 {
      background-color: tokens.color("primary");
    }
  }
}
