@use "../../../tokens";

.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: tokens.space();
  color: tokens.color("black");
  position: relative;

  table {
    border-collapse: collapse;
    border-spacing: 0;

    max-width: 100%;
    width: 100%;

    &.table--sticky {
      will-change: transform;
      top: 0;
      position: absolute;
      z-index: 2;
    }
  }

  tbody tr:hover {
    cursor: pointer;
  }

  tbody tr:nth-of-type(odd) {
    background-color: tokens.color("white");
  }

  tbody tr:nth-of-type(even) {
    background-color: tokens.color("grey", 300);
  }

  thead tr {
    background-color: tokens.color("grey");
  }

  th,
  td {
    text-align: center;
  }

  td {
    padding: tokens.space("s");
  }

  th {
    padding: tokens.space("s") tokens.space("s");
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__head-sorter {
    // this sizes are magic for ponuka bytov table
    position: relative;
    width: 7px;
    display: inline-block;
    height: 14px;
    vertical-align: sub;

    // triangels are aligned with magic numbers
    &:before,
    &:after {
      content: "";
      height: 0px;
      width: 0px;
      position: absolute;
    }

    &:before {
      left: 5px;
      top: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid tokens.color("black");
    }

    &:after {
      left: 5px;
      top: 7px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid tokens.color("black");
    }

    &--asc:after {
      display: none;
    }

    &--desc:before {
      display: none;
    }
  }
}
